:root {
  --slider-x: 0;
  --slider-y: 0;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 2.5rem;
  grid-template-columns: 2.5rem 1fr;
  gap: 1.25rem;
  max-width: 30rem;
  padding: 1.25rem;
  margin-inline: auto;
  background-color: aquamarine;
}

.xy-slider {
  position: relative;
  grid-row: 1;
  grid-column: 2;
  aspect-ratio: 2/1;
  border: 0.0625rem solid #000;
}
.xy-slider__canvas {
  width: 100%;
  height: 100%;
}
.xy-slider__area {
  position: absolute;
  top: -0.75rem;
  left: -0.75rem;
  width: calc(100% + 1.5rem);
  height: calc(100% + 1.5rem);
}
.xy-slider__thumb {
  position: absolute;
  top: var(--slider-y);
  left: var(--slider-x);
  width: 1.5rem;
  height: 1.5rem;
  cursor: grab;
  background-color: crimson;
}
.xy-slider__thumb:hover {
  background-color: darksalmon;
}
.xy-slider__thumb.pressed {
  cursor: grabbing;
  background-color: red;
}
.xy-slider-x {
  grid-row: 2;
  grid-column: 2;
  background-color: cadetblue;
}
.xy-slider-y {
  grid-row: 1;
  grid-column: 1;
  background-color: chocolate;
}