@use 'sass:math';

:root {
  --slider-z-from: 0;
  --slider-z-to: 10px;
  --slider-x: 0;
  --slider-y: 0;
}

.color-picker {
  $canvas-width: 25rem;
  $canvas-height: 25rem;
  $slider-thickness: 2.5rem;
  $gap: 2.5rem;
  $p: 2.5rem;
  $border-thickness: 0.0625rem;
  $thumb-display-size: 1rem;
  $thumb-size: 3rem;
  $thumb-border-thickness: 0.25rem;

  display: grid;
  grid-template-rows: calc($canvas-height + 2 * $border-thickness) calc(
      $slider-thickness + 2 * $border-thickness
    );
  grid-template-columns: calc($slider-thickness + 2 * $border-thickness) calc(
      $canvas-width + 2 * $border-thickness
    );
  gap: $gap;
  width: fit-content;
  padding: $p;
  background-color: oklch(50% 0 0deg);

  @mixin canvas() {
    &__canvas {
      width: 100%;
      height: 100%;
    }
  }

  @mixin area() {
    position: relative;

    &__area {
      position: absolute;
      @content;
    }
  }

  @mixin thumb() {
    &__thumb {
      $selector: #{&};

      position: absolute;
      width: $thumb-size;
      height: $thumb-size;
      cursor: grab;

      @content;

      &::before {
        position: absolute;
        inset: calc(0.5 * ($thumb-size - $thumb-display-size));
        display: block;
        content: '';
        border: $thumb-border-thickness solid #fff;
        box-shadow: 0 0.0625rem 0.1875rem 0.0625rem rgb(0 0 0 / 15%),
          0 0.0625rem 0.125rem 0 rgb(0 0 0 / 30%);
        transition: box-shadow ease-out 150ms;
        transform: rotate(45deg);
        @at-root #{$selector}:hover::before {
          box-shadow: 0 0.25rem 0.5rem 0.1875rem rgb(0 0 0 / 15%),
            0 0.0625rem 0.1875rem 0 rgb(0 0 0 / 30%);
        }
        @at-root #{$selector}.pressed::before {
          box-shadow: 0 0 0 0 rgb(0 0 0 / 15%), 0 0 0 0 rgb(0 0 0 / 30%);
        }
      }
    }
  }

  &__xy {
    grid-row: 1;
    grid-column: 2;
    border: $border-thickness solid #000;

    @include canvas;
    @include area {
      inset: -0.5 * $thumb-size;
    }
    @include thumb {
      top: var(--slider-y);
      left: var(--slider-x);
    }
  }

  &__z {
    grid-row: 1;
    grid-column: 1;
    border: $border-thickness solid #000;

    @include canvas;
    @include area {
      top: -0.5 * $thumb-size;
      bottom: -0.5 * $thumb-size;
      left: -0.5 * $thumb-size;
      width: $thumb-size;
    }

    @include thumb {
      &-from {
        top: var(--slider-z-from);
        left: 0;
      }

      &-to {
        top: var(--slider-z-to);
        left: 0;
      }
    }
  }

  &__numbers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 2;
    grid-column: 1 / -1;
    gap: $gap;
  }
}
