:root {
  --slider-z-from: 0;
  --slider-z-to: 100px;
  --slider-x: 0;
  --slider-y: 0;
}

.color-picker {
  display: grid;
  grid-template-rows: 25.125rem 2.625rem;
  grid-template-columns: 2.625rem 25.125rem;
  gap: 1.25rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.25rem;
  background-color: oklch(50% 0 0deg);
}
.color-picker__xy {
  grid-row: 1;
  grid-column: 2;
  border: 0.0625rem solid #000;
  position: relative;
}
.color-picker__xy__canvas {
  width: 100%;
  height: 100%;
}
.color-picker__xy__area {
  position: absolute;
  inset: -1.5rem;
}
.color-picker__xy__thumb {
  position: absolute;
  width: 3rem;
  height: 3rem;
  cursor: grab;
  top: var(--slider-y);
  left: var(--slider-x);
}
.color-picker__xy__thumb::before {
  position: absolute;
  inset: 1rem;
  display: block;
  content: "";
  border: 4px solid #000;
  transform: rotate(45deg);
}
.color-picker__xy__thumb:hover::before {
  border-color: aliceblue;
}

.color-picker__xy__thumb.pressed::before {
  border-color: red;
}

.color-picker__z {
  grid-row: 1;
  grid-column: 1;
  border: 0.0625rem solid #000;
  position: relative;
}
.color-picker__z__canvas {
  width: 100%;
  height: 100%;
}
.color-picker__z__area {
  position: absolute;
  top: -1.5rem;
  bottom: -1.5rem;
  left: -1.5rem;
  width: 3rem;
}
.color-picker__z__thumb {
  position: absolute;
  width: 3rem;
  height: 3rem;
  cursor: grab;
}
.color-picker__z__thumb-from {
  top: var(--slider-z-from);
  left: 0;
}
.color-picker__z__thumb-to {
  top: var(--slider-z-to);
  left: 0;
}
.color-picker__z__thumb::before {
  position: absolute;
  inset: 1rem;
  display: block;
  content: "";
  border: 4px solid #000;
  transform: rotate(45deg);
}
.color-picker__z__thumb:hover::before {
  border-color: aliceblue;
}

.color-picker__z__thumb.pressed::before {
  border-color: red;
}